<a href="https://colab.research.google.com/github/bmt21516/22/blob/main/21516_11%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dates = pd.date_range('20210514' , periods=6)
dates

DatetimeIndex(['2021-05-14', '2021-05-15', '2021-05-16', '2021-05-17',
               '2021-05-18', '2021-05-19'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index = dates,  columns=list('ABCD'))

In [6]:
print(df);print()

                   A         B         C         D
2021-05-14 -0.944322 -0.145399  0.905063 -0.133891
2021-05-15 -1.754732 -0.458929 -1.188952  0.193529
2021-05-16  2.092087  1.468715  2.445998  0.710288
2021-05-17  0.948139  2.543358 -0.350604  0.096581
2021-05-18 -1.353228  0.953152 -0.634274  1.450792
2021-05-19  0.578512  0.737949 -1.537268  0.412254

In [7]:
df.mean(0)

A   -0.072257
B    0.849808
C   -0.060006
D    0.454925
dtype: float64

In [8]:
df

                   A         B         C         D
2021-05-14 -0.944322 -0.145399  0.905063 -0.133891
2021-05-15 -1.754732 -0.458929 -1.188952  0.193529
2021-05-16  2.092087  1.468715  2.445998  0.710288
2021-05-17  0.948139  2.543358 -0.350604  0.096581
2021-05-18 -1.353228  0.953152 -0.634274  1.450792
2021-05-19  0.578512  0.737949 -1.537268  0.412254

In [9]:
df.apply(np.cumsum, axis=0)

                   A         B         C         D
2021-05-14 -0.944322 -0.145399  0.905063 -0.133891
2021-05-15 -2.699054 -0.604328 -0.283889  0.059638
2021-05-16 -0.606967  0.864387  2.162109  0.769926
2021-05-17  0.341171  3.407745  1.811505  0.866507
2021-05-18 -1.012057  4.360897  1.177231  2.317299
2021-05-19 -0.433545  5.098846 -0.360037  2.729552

In [10]:
print(df.apply(lambda x: x.max() - x.min()))

A    3.846819
B    3.002287
C    3.983266
D    1.584683
dtype: float64

In [11]:
df.apply(lambda x : x.max()-x.min(), axis= 1)

2021-05-14    1.849385
2021-05-15    1.948261
2021-05-16    1.735710
2021-05-17    2.893962
2021-05-18    2.804020
2021-05-19    2.275216
Freq: D, dtype: float64

In [12]:
s = pd.Series(np.random.randint(0, 7, size = 10))
s

0    2
1    0
2    1
3    3
4    5
5    0
6    0
7    5
8    4
9    4
dtype: int64

In [14]:
s = pd.Series(np.random.randint(1, 6, size = 60))
print(s.value_counts())

5    14
2    14
4    12
3    11
1     9
dtype: int64

In [15]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4)) # 수치 값 / 인덱스 번호 임의(0~) / 컬럼 번호 임의(0~)

print(df);print()

          0         1         2         3
0  0.194715  1.132730 -0.056702  0.591369
1 -2.527360 -0.591103  1.515793  0.553407
2 -0.382411  1.720779 -0.194818 -0.213592
3  0.856916  0.147484 -0.829257 -0.885603
4  1.652881  0.542868 -0.513744  2.205731
5 -0.591319 -0.277420  0.494133 -0.279628
6  1.129922  0.039201 -0.891085 -0.651705
7 -0.317588 -0.956706 -1.326125  1.100374
8 -0.163120 -0.100863  1.662835 -0.880932
9 -0.023088 -1.674604 -0.011539 -0.104992

In [16]:
pieces = [df[:3], df[3:7], df[7:]]

In [17]:
print(pieces);print()

[          0         1         2         3
0  0.194715  1.132730 -0.056702  0.591369
1 -2.527360 -0.591103  1.515793  0.553407
2 -0.382411  1.720779 -0.194818 -0.213592,           0         1         2         3
3  0.856916  0.147484 -0.829257 -0.885603
4  1.652881  0.542868 -0.513744  2.205731
5 -0.591319 -0.277420  0.494133 -0.279628
6  1.129922  0.039201 -0.891085 -0.651705,           0         1         2         3
7 -0.317588 -0.956706 -1.326125  1.100374
8 -0.163120 -0.100863  1.662835 -0.880932
9 -0.023088 -1.674604 -0.011539 -0.104992]

In [18]:
print(pd.concat(pieces))

          0         1         2         3
0  0.194715  1.132730 -0.056702  0.591369
1 -2.527360 -0.591103  1.515793  0.553407
2 -0.382411  1.720779 -0.194818 -0.213592
3  0.856916  0.147484 -0.829257 -0.885603
4  1.652881  0.542868 -0.513744  2.205731
5 -0.591319 -0.277420  0.494133 -0.279628
6  1.129922  0.039201 -0.891085 -0.651705
7 -0.317588 -0.956706 -1.326125  1.100374
8 -0.163120 -0.100863  1.662835 -0.880932
9 -0.023088 -1.674604 -0.011539 -0.104992

In [19]:
import pandas as pd
import numpy as np

left = pd.DataFrame({'key':['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key':['foo', 'foo'], 'rval': [4, 5]})

print(left);print()
print(right);print()

   key  lval
0  foo     1
1  foo     2

   key  rval
0  foo     4
1  foo     5

In [22]:
left = pd.DataFrame(
    {
        'key':['foo', 'bar'],
        'lval': [1, 2]
     }
    )

In [23]:
left

   key  lval
0  foo     1
1  bar     2

In [24]:
right

   key  rval
0  foo     4
1  foo     5

In [25]:
pd.merge(left, right, on = 'key')

   key  lval  rval
0  foo     1     4
1  foo     1     5

In [26]:
print(df.append(s, ignore_index=True))

          0         1         2         3    4   ...   55   56   57   58   59
0   0.194715  1.132730 -0.056702  0.591369  NaN  ...  NaN  NaN  NaN  NaN  NaN
1  -2.527360 -0.591103  1.515793  0.553407  NaN  ...  NaN  NaN  NaN  NaN  NaN
2  -0.382411  1.720779 -0.194818 -0.213592  NaN  ...  NaN  NaN  NaN  NaN  NaN
3   0.856916  0.147484 -0.829257 -0.885603  NaN  ...  NaN  NaN  NaN  NaN  NaN
4   1.652881  0.542868 -0.513744  2.205731  NaN  ...  NaN  NaN  NaN  NaN  NaN
5  -0.591319 -0.277420  0.494133 -0.279628  NaN  ...  NaN  NaN  NaN  NaN  NaN
6   1.129922  0.039201 -0.891085 -0.651705  NaN  ...  NaN  NaN  NaN  NaN  NaN
7  -0.317588 -0.956706 -1.326125  1.100374  NaN  ...  NaN  NaN  NaN  NaN  NaN
8  -0.163120 -0.100863  1.662835 -0.880932  NaN  ...  NaN  NaN  NaN  NaN  NaN
9  -0.023088 -1.674604 -0.011539 -0.104992  NaN  ...  NaN  NaN  NaN  NaN  NaN
10  2.000000  4.000000  2.000000  1.000000  4.0  ...  3.0  4.0  2.0  4.0  1.0

[11 rows x 60 columns]