<a href="https://colab.research.google.com/github/bmt21516/22/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
fp = open ('지역평균기온.txt')
data = fp.read()
fp.close()

In [2]:
data

'서울,20\n부산,26\n대구,24\n인천,24\n광주,25\n대전,22\n울산,26\n세종,23\n경기,24\n강원,23\n충북,26\n충남,22\n전북,24\n전남,23\n경북,28\n경남,29\n제주,26'

In [3]:
fp = open ('지역평균기온.txt')
data = fp.readlines
fp.close

dt = {}
for line in data : 
  line = line.replace('\n','')
  items = line.spilt(',')
  dt[items[0]] = int(items[1])
print(dt)

TypeError: ignored

In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

In [1]:
area = list(dt.keys())
temp = list(dt.values())
print(area)
print(temp)
plt.rc('font', family='NanumBarunGothic')
import matplotlib
plt.figure(figsize=(10, 5))
plt.plot(['a','b','c','d'],[2,5,7,1])
plt.scatter(['a','b','c','d'],[2,5,7,1])
plt.show()

NameError: ignored

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
import pandas as pd
import numpy as np

s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(type(s))
print(s)

<class 'pandas.core.series.Series'>
0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [9]:
import pandas as pd
import numpy as np

dates = pd.date_range('20201113', periods=6)

print(type(dates))
print(dates)

df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD')) 

print(type(df))
print(df)
df

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
DatetimeIndex(['2020-11-13', '2020-11-14', '2020-11-15', '2020-11-16',
               '2020-11-17', '2020-11-18'],
              dtype='datetime64[ns]', freq='D')
<class 'pandas.core.frame.DataFrame'>
                   A         B         C         D
2020-11-13 -0.641243  2.331747  0.743597  0.413007
2020-11-14 -0.542415  0.711458 -0.706750 -0.716361
2020-11-15 -0.668596  0.854701 -0.968904 -0.404732
2020-11-16  1.366725  0.244074  0.663924 -0.459692
2020-11-17  1.385618 -0.772912 -1.165048  1.243070
2020-11-18  0.828824 -0.409059 -0.286769 -0.502166

                   A         B         C         D
2020-11-13 -0.641243  2.331747  0.743597  0.413007
2020-11-14 -0.542415  0.711458 -0.706750 -0.716361
2020-11-15 -0.668596  0.854701 -0.968904 -0.404732
2020-11-16  1.366725  0.244074  0.663924 -0.459692
2020-11-17  1.385618 -0.772912 -1.165048  1.243070
2020-11-18  0.828824 -0.409059 -0.286769 -0.502166

In [8]:
import pandas as pd
import numpy as np

df2 = pd.DataFrame(
    {
        'A': 1.,
        'B': pd.Timestamp('20201113'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(["test", "train", "test", "train"]),
        'F': 'foo'
     }
)

print(type(df2))
print(df2)
df2

<class 'pandas.core.frame.DataFrame'>
     A          B    C  D      E    F
0  1.0 2020-11-13  1.0  3   test  foo
1  1.0 2020-11-13  1.0  3  train  foo
2  1.0 2020-11-13  1.0  3   test  foo
3  1.0 2020-11-13  1.0  3  train  foo

     A          B    C  D      E    F
0  1.0 2020-11-13  1.0  3   test  foo
1  1.0 2020-11-13  1.0  3  train  foo
2  1.0 2020-11-13  1.0  3   test  foo
3  1.0 2020-11-13  1.0  3  train  foo

In [10]:
import pandas as pd
import numpy as np

dates = pd.date_range('20201113', periods=6)

df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [11]:
print(df.values) # 값 보기
print()

[[-0.20477139  1.55906571 -1.28184957  0.41545447]
 [-1.93007636 -0.14666439  0.66929949  0.58232875]
 [ 1.22322217 -1.11862897 -0.5552884   1.54434621]
 [-0.1780926   0.18974141 -0.45781219  1.70419258]
 [ 0.82832499  0.72103856  0.04074684  0.90636097]
 [-0.44888674  0.13432701 -1.51057712 -1.33064629]]

In [12]:
print(df.sort_values(by='B'))

                   A         B         C         D
2020-11-15  1.223222 -1.118629 -0.555288  1.544346
2020-11-14 -1.930076 -0.146664  0.669299  0.582329
2020-11-18 -0.448887  0.134327 -1.510577 -1.330646
2020-11-16 -0.178093  0.189741 -0.457812  1.704193
2020-11-17  0.828325  0.721039  0.040747  0.906361
2020-11-13 -0.204771  1.559066 -1.281850  0.415454

                   A         B         C         D
2020-11-15  1.223222 -1.118629 -0.555288  1.544346
2020-11-14 -1.930076 -0.146664  0.669299  0.582329
2020-11-18 -0.448887  0.134327 -1.510577 -1.330646
2020-11-16 -0.178093  0.189741 -0.457812  1.704193
2020-11-17  0.828325  0.721039  0.040747  0.906361
2020-11-13 -0.204771  1.559066 -1.281850  0.415454