<a href="https://colab.research.google.com/github/bmt21516/22/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5, np.nan, 6,8])
a = [1,3,5, np.nan, 6,8]
a

[1, 3, 5, nan, 6, 8]

In [5]:
type(s)

pandas.core.series.Series

In [6]:
type(a)

list

In [8]:
dates = pd.date_range('20210507', periods=6)

In [9]:
dates

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6,4),index = dates)
df

                   0         1         2         3
2021-05-07  0.574115 -1.197016 -0.485409 -0.378143
2021-05-08  0.546003 -1.246141 -0.172158  0.371046
2021-05-09 -0.574801 -1.705502  0.669180 -0.118342
2021-05-10  0.922756  0.179711  2.219180  0.152842
2021-05-11  0.634392 -1.061960 -0.326386  0.128425
2021-05-12  1.019508 -0.260193 -0.176229 -0.489963

In [19]:
df = pd.DataFrame(np.random.randn(6,4),index = dates,columns=list['국영수물'])

TypeError: ignored

                  국어        영어        수학        물리
2021-05-07  1.562448  0.674749 -0.458767  1.572883
2021-05-08  0.169289  0.652416 -0.730644  0.815407
2021-05-09 -0.128637  0.346681  1.996766 -0.551907
2021-05-10 -0.391996 -1.346176  1.534167  1.157938
2021-05-11  0.484134  0.012410  0.635395  0.480167
2021-05-12  0.721619 -2.408870 -0.145505 -0.628034

In [22]:
df2 = pd.DataFrame(
    {
        'A': 1.,
        'B': pd.Timestamp('20201113'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(["test", "train", "test", "train"]),
        'F': 'foo'
     }
)

print(type(df2))
print(df2)
df2

<class 'pandas.core.frame.DataFrame'>
     A          B    C  D      E    F
0  1.0 2020-11-13  1.0  3   test  foo
1  1.0 2020-11-13  1.0  3  train  foo
2  1.0 2020-11-13  1.0  3   test  foo
3  1.0 2020-11-13  1.0  3  train  foo

     A          B    C  D      E    F
0  1.0 2020-11-13  1.0  3   test  foo
1  1.0 2020-11-13  1.0  3  train  foo
2  1.0 2020-11-13  1.0  3   test  foo
3  1.0 2020-11-13  1.0  3  train  foo

In [23]:
df

                  국어        영어        수학        물리
2021-05-07  1.562448  0.674749 -0.458767  1.572883
2021-05-08  0.169289  0.652416 -0.730644  0.815407
2021-05-09 -0.128637  0.346681  1.996766 -0.551907
2021-05-10 -0.391996 -1.346176  1.534167  1.157938
2021-05-11  0.484134  0.012410  0.635395  0.480167
2021-05-12  0.721619 -2.408870 -0.145505 -0.628034

In [24]:
df.head(1)

                  국어        영어        수학        물리
2021-05-07  1.562448  0.674749 -0.458767  1.572883

In [25]:
df.tail(2)

                  국어       영어        수학        물리
2021-05-11  0.484134  0.01241  0.635395  0.480167
2021-05-12  0.721619 -2.40887 -0.145505 -0.628034

In [32]:
df.index

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [28]:
df.columns

Index(['국어', '영어', '수학', '물리'], dtype='object')

In [31]:
df.describe()

             국어        영어        수학        물리
count  6.000000  6.000000  6.000000  6.000000
mean   0.402809 -0.344798  0.471902  0.474409
std    0.695945  1.257204  1.111198  0.900985
min   -0.391996 -2.408870 -0.730644 -0.628034
25%   -0.054156 -1.006530 -0.380452 -0.293888
50%    0.326711  0.179545  0.244945  0.647787
75%    0.662248  0.575982  1.309474  1.072305
max    1.562448  0.674749  1.996766  1.572883

In [33]:
df.max

<bound method DataFrame.max of                   국어        영어        수학        물리
2021-05-07  1.562448  0.674749 -0.458767  1.572883
2021-05-08  0.169289  0.652416 -0.730644  0.815407
2021-05-09 -0.128637  0.346681  1.996766 -0.551907
2021-05-10 -0.391996 -1.346176  1.534167  1.157938
2021-05-11  0.484134  0.012410  0.635395  0.480167
2021-05-12  0.721619 -2.408870 -0.145505 -0.628034>

In [34]:
print(df.sort_index(axis=1, ascending=True))

                  국어        물리        수학        영어
2021-05-07  1.562448  1.572883 -0.458767  0.674749
2021-05-08  0.169289  0.815407 -0.730644  0.652416
2021-05-09 -0.128637 -0.551907  1.996766  0.346681
2021-05-10 -0.391996  1.157938  1.534167 -1.346176
2021-05-11  0.484134  0.480167  0.635395  0.012410
2021-05-12  0.721619 -0.628034 -0.145505 -2.408870

In [35]:
print(df.sort_index(axis=1, ascending=False))

                  영어        수학        물리        국어
2021-05-07  0.674749 -0.458767  1.572883  1.562448
2021-05-08  0.652416 -0.730644  0.815407  0.169289
2021-05-09  0.346681  1.996766 -0.551907 -0.128637
2021-05-10 -1.346176  1.534167  1.157938 -0.391996
2021-05-11  0.012410  0.635395  0.480167  0.484134
2021-05-12 -2.408870 -0.145505 -0.628034  0.721619

In [36]:
print(df.sort_index(axis=0, ascending=False))

                  국어        영어        수학        물리
2021-05-12  0.721619 -2.408870 -0.145505 -0.628034
2021-05-11  0.484134  0.012410  0.635395  0.480167
2021-05-10 -0.391996 -1.346176  1.534167  1.157938
2021-05-09 -0.128637  0.346681  1.996766 -0.551907
2021-05-08  0.169289  0.652416 -0.730644  0.815407
2021-05-07  1.562448  0.674749 -0.458767  1.572883

In [39]:
df.sort_values(by='국어')

                  국어        영어        수학        물리
2021-05-10 -0.391996 -1.346176  1.534167  1.157938
2021-05-09 -0.128637  0.346681  1.996766 -0.551907
2021-05-08  0.169289  0.652416 -0.730644  0.815407
2021-05-11  0.484134  0.012410  0.635395  0.480167
2021-05-12  0.721619 -2.408870 -0.145505 -0.628034
2021-05-07  1.562448  0.674749 -0.458767  1.572883

In [40]:
df['국어']

2021-05-07    1.562448
2021-05-08    0.169289
2021-05-09   -0.128637
2021-05-10   -0.391996
2021-05-11    0.484134
2021-05-12    0.721619
Freq: D, Name: 국어, dtype: float64

In [42]:
df[['국어,물리']]

KeyError: ignored

In [43]:
print(df[0:3]);print()

                  국어        영어        수학        물리
2021-05-07  1.562448  0.674749 -0.458767  1.572883
2021-05-08  0.169289  0.652416 -0.730644  0.815407
2021-05-09 -0.128637  0.346681  1.996766 -0.551907

In [44]:
print(df.loc[dates[0]])

국어    1.562448
영어    0.674749
수학   -0.458767
물리    1.572883
Name: 2021-05-07 00:00:00, dtype: float64

In [46]:
df.iloc[1:3,0:2]

                  국어        영어
2021-05-08  0.169289  0.652416
2021-05-09 -0.128637  0.346681

In [47]:
df.iloc[3,2]

1.5341665554982375

In [50]:
df.물리

2021-05-07    1.572883
2021-05-08    0.815407
2021-05-09   -0.551907
2021-05-10    1.157938
2021-05-11    0.480167
2021-05-12   -0.628034
Freq: D, Name: 물리, dtype: float64

In [51]:
df.물리>0

2021-05-07     True
2021-05-08     True
2021-05-09    False
2021-05-10     True
2021-05-11     True
2021-05-12    False
Freq: D, Name: 물리, dtype: bool

In [52]:
df[df>0]

                  국어        영어        수학        물리
2021-05-07  1.562448  0.674749       NaN  1.572883
2021-05-08  0.169289  0.652416       NaN  0.815407
2021-05-09       NaN  0.346681  1.996766       NaN
2021-05-10       NaN       NaN  1.534167  1.157938
2021-05-11  0.484134  0.012410  0.635395  0.480167
2021-05-12  0.721619       NaN       NaN       NaN

In [53]:
df2= df.copy()

In [54]:
df2

                  국어        영어        수학        물리
2021-05-07  1.562448  0.674749 -0.458767  1.572883
2021-05-08  0.169289  0.652416 -0.730644  0.815407
2021-05-09 -0.128637  0.346681  1.996766 -0.551907
2021-05-10 -0.391996 -1.346176  1.534167  1.157938
2021-05-11  0.484134  0.012410  0.635395  0.480167
2021-05-12  0.721619 -2.408870 -0.145505 -0.628034

In [55]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20201113', periods=6))
print(s1);print()

2020-11-13    1
2020-11-14    2
2020-11-15    3
2020-11-16    4
2020-11-17    5
2020-11-18    6
Freq: D, dtype: int64

In [56]:
df['F'] = s1
print(df);print()

                  국어        영어        수학        물리   F
2021-05-07  1.562448  0.674749 -0.458767  1.572883 NaN
2021-05-08  0.169289  0.652416 -0.730644  0.815407 NaN
2021-05-09 -0.128637  0.346681  1.996766 -0.551907 NaN
2021-05-10 -0.391996 -1.346176  1.534167  1.157938 NaN
2021-05-11  0.484134  0.012410  0.635395  0.480167 NaN
2021-05-12  0.721619 -2.408870 -0.145505 -0.628034 NaN